.form-register {
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  position: static;
  width: 70%;
  padding: 3em;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.outer-form {
  width: 55%;
  margin-left: 23%;
  margin-bottom: 150px;
  margin-top: 50px;
}

.inner {
  background-color: #1e90ff;
}

.title-register {
  margin-left: 12%;
  text-align: left;
  font-size: 3em;
  margin-bottom: 20px;
  color: antiquewhite;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.input-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.input-container-register {
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 75%;
}

label {
  color: antiquewhite;
}

.link-login {
  list-style-type: none;
  color: antiquewhite;
  text-decoration: none;
  font-size: normal;
  float: left;
}

.link-login:hover {
  color: thistle;
  cursor: pointer;
}

.submit-container-register {
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
  display: flex;
  padding: 20px;
}

input[type="submit"] {
  background-color: #87ceeb;
  border: none;
  border-radius: 5px;
  width: 120px;
  margin-left: 200px;
  margin-top: 20px;
  padding: 10px;
  float: right;
}
